{% load static %}
<!DOCTYPE html>
<head>
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="{% static 'exp_trc/style.css' %}">
</head>
<body>
    <h1>EXPENSE TRACKER</h1>
    <table>
        <tr>
            <th> Name </th>
            <th> Amount </th>
            <th>  Date </th>
            <th> Action </th>
        </tr>
    {% for expense in expenses %}
    <tr> 
        <td><a href="{%url 'exp_trc:read_expense' expense.id%}">{{expense.name}}</a></td> 
        <td>RS{{expense.amount}}</td>
        <td>{{expense.date_added|date:"M j,Y"}}</td> 
        <td> <a href="{%url 'exp_trc:update_expense' expense.id%}">edit</a>
        <a href="{%url 'exp_trc:delete_expense' expense.id%}">delete</a></td>
    </tr>
    {%empty%}
    <tr>
        <td colspan="3">There are no expenses</td>
    </tr>
    {% endfor %}
    </table>
    <a href="{%url 'exp_trc:new'%}">Add new expense</a>
</body>
</html>